__pycache__/
*.pyc
*$py.class

venv/
env/
.venv/
ENV/
*/venv/
*/env/
*/.venv/
*/ENV/
.env.*
*.env


*.log
app.log

.env

.DS_Store

.vscode/
.idea/
*.sublime-workspace
*.sublime-project

.mypy_cache/
.pytest_cache/

*.pid
*.seed
*.tar

htmlcov/
coverage.xml
*.cover
*.py,cover

nosetests.xml
test-output/
